astroid==2.15.5
certifi==2023.5.7
charset-normalizer==3.1.0
dill==0.3.6
freetype-py==2.3.0
idna==3.4
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
Pillow==9.5.0
platformdirs==3.5.1
pycairo==1.23.0
reportlab==4.0.0
requests==2.31.0
rlPyCairo==0.2.0
tomlkit==0.11.8
urllib3==2.0.2
wrapt==1.15.0
